<!DOCTYPE html>
<html>
	<head>
		<title>Main Page</title>
		<% include header.ejs %>
	</head>
  <body>

	<div class="container-fluid">

		<% include navbar.ejs %>

		<div id="full_imgs" class="row">
			<% for (var i = 0; i < 12; i++ ) { %>
			<div id="Image_<%= i+1 %>" class="full_img">
				<img id="image_<%= i+1 %>" src="http://placehold.it/350x350"/>
				<h5><%= i+1 %></h5>
			</div>
			<% } %>
			<div class="full_img"></div>
		</div>

		<div id="thumb_imgs" class="row">
			<% for (var i = 0; i < 12; i++ ) { %>
				<div id="Image__<%= i+1 %>_thumb" class="thumb_img">			
					<img id="image_<%= i+1 %>_thumb" src="http://placehold.it/100x100"/>
				</div>
			<% } %>
			<div class="thumb_img"></div>
		</div>

	</div>

		<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
		<script src='/jquery.scrollto/jquery.scrollTo.min.js'></script>

		<script>
			$(document).ready(function(){ 

				Number.prototype.mod = function(n) {
					return ((this%n)+n)%n;
				}

				var current = 1;

				$(document).keydown(function(event) {

					console.log("#Image_" + current + "_thumb");
					console.log(current);

					if ((event.keyCode || event.which) == 37) {
						current = (current-1).mod(13);
						$('#full_imgs').scrollTo("#Image_" + current, 500);
					}
					if ((event.keyCode || event.which) == 39) {
						current = (current+1).mod(13);
						$('#full_imgs').scrollTo("#Image_" + current, 500);
					}

				});
			});
		</script>

  </body>

</html>
