<!DOCTYPE html>
<html>
	<head>
		<title>Main Page</title>
		<% include header.ejs %>
	</head>
  <body>

	<div class="container-fluid">

		<% include navbar.ejs %>

		<div id="full_imgs" class="row">
			<% for (var i = 0; i < images.length; i++ ) { %>
			<div id="Image_<%= i+1 %>" class="full_img">
				<img id="image_<%= i+1 %>" 
				src="<%= cloudinary.url(images[i].public_id + '.' + images[i].format, { width:350, height:350, crop:'fill', version:images[i].version}) %>"/>
				<h5><%= i+1 %></h5>
			</div>
			<% } %>
			<div class="full_img"></div>
		</div>

		<div id="thumb_imgs" class="row">
			<% for (var i = 0; i < images.length; i++ ) { %>
				<div id="Image_<%= i+1 %>_thumb" class="thumb_img">			
					<img id="image_<%= i+1 %>_thumb" 
					src="<%= cloudinary.url(images[i].public_id + '.' + images[i].format, { width:100, height:100, crop:'fill', version:images[i].version}) %>"/>
				</div>
			<% } %>
			<div class="thumb_img"></div>
		</div>

	</div>

		<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
		<script src='/jquery.scrollto/jquery.scrollTo.min.js'></script>
		<script src='/javascripts/main.js'></script>
		<script>var image_length = <%- images.length %></script>

  </body>

</html>
